@page "/counter"
@using BlazorComponentCommunicationTutorial.Services
@inject INotificationService NotificationService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @NotificationService.Count</p>

<button class="btn btn-primary" @onclick=@NotificationService.IncrementCounter>Click me</button>

@code {
    protected override void OnInitialized()
    {
        NotificationService.Onchange += StateHasChanged;
    }
}
