@page "/counter"
@using BlazorComponentCommunicationTutorial.Services
@inject INotificationService NotificationService;
@implements IDisposable;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @NotificationService.Count</p>

<button class="btn btn-primary" @onclick=@NotificationService.IncrementCounter>Click me</button>
<button class="btn btn-primary" @onclick=@NotificationService.AddItem>Add Item</button>
@foreach (var item in NotificationService.Messages)
{
    <p>@item</p>
}

@code {



    protected override void OnInitialized()
    {
        
        NotificationService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NotificationService.OnChange -= StateHasChanged;
    }
}
   

